{% extends 'base.html' %}
{% load  stored_messages_tags %}

{% block messages_active %}active{% endblock %}

{% block contents %}
    <div class="row">

    {% if user.is_authenticated %}
    <ul class="nav nav-tabs ">
        <li class="active"><a href="#">Notifications</a></li>
    </ul>

    <div class=".col-md-8">&nbsp;</div>

    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="{% if unread %}active{% endif %}"><a href="{% url 'messages' %}?unread">Unread</a></li>
            <li class="{% if not unread %}active{% endif %}"><a href="{% url 'messages' %}">All</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        {% if not unread %}
            {% stored_messages_archive %}
        {% else %}
            {% stored_messages_list %}
        {% endif %}
    </div>
{% else %}


{% endif %}
    </div>
{% endblock %}