{% extends 'base.html' %}
{% load stored_messages_tags %}
{% load staticfiles %}

{% block messages_active %}active{% endblock %}

{% block contents %}
<div ng-app="messageApp">

    <div class="row">

    {% if user.is_authenticated %}
    <ul class="nav nav-tabs ">
        <li class="active"><a href="#">Notifications</a></li>
    </ul>

    <div class=".col-md-8">&nbsp;</div>

    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="{% if unread %}active{% endif %}"><a href="{% url 'messages' %}?unread">Unread</a></li>
            <li class="{% if not unread %}active{% endif %}"><a href="{% url 'messages' %}">All</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        {% if not unread %}
            {% stored_messages_archive 100 %}
        {% else %}
            <div ng-app="messageApp">
            {% verbatim %}
                <div ng-controller="MainCtrl">
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="message in messages">
                        {{ message.message.date | date:'MMM d, y h:mm:ss a' }} - {{ message.message.message }}
                          <a ng-click="markRead($index)" style="cursor:pointer">Mark as read</a>
                      </li>
                    </ul>
                </div>
            </div>
            {% endverbatim %}
        {% endif %}
    </div>

    {% else %}
        <!-- todo anon user view this -->
    {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- Angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="{%  static "notification/notification.js" %}"></script>
{% endblock %}