{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="messageApp">
    <head>
        <title>Stored Messages</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
            }

            .starter-template {
                padding: 40px 15px;
                text-align: center;
            }
        </style>

        <!-- Angularjs. It's here to avoid showing body before angular is fully loaded -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
        <script src="{%  static "notification/notification.js" %}"></script>
    </head>

    <body ng-controller="MainCtrl">
        <!-- navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Stored Messages Example</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% block home_active %}{% endblock %}">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="{% block messages_active %}{% endblock %}">
                            <a href="{% url 'messages' %}?unread">Messages
                                <span class="badge" ng-if="messages.length">{% verbatim %}{{ messages.length }}{% endverbatim %}</span></a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            {% block contents %}
            {% endblock %}
        </div>
        <!-- /.container -->

        {% block js %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>